// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import "../node_modules/bootstrap/scss/functions";

// 2. Include any default variable overrides here
$link-decoration: none;

// 3. Include remainder of required Bootstrap stylesheets
@import "../node_modules/bootstrap/scss/variables";

// 4. Include any default map overrides here
$custom-colors: (
	"farve": $cyan-400,
);

$theme-colors: map-merge($theme-colors, $custom-colors);

@import "bootstrapComponents";

// 5. Du kan lave styling her...
.bg-sids{
	background: #181818;
	height: 100vh;
}
.bg-secound{
	background: #d68c09;
	height: 100vh;
}
.button-work{
	width: 9rem;
	border: white solid 2px;
}
.button-work:hover{
	background: #181818;
	border: #181818 solid 2px;
}

//fonts//
.btn-font{
	font-family: Inter;
	font-weight: initial;
	font-size: 0.9rem;
	color: #ffffff;
}

//fonts//

